@model StadiumManagementSys.Models.Income

@{
    ViewData["Title"] = "New Booking Income";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="modal-dialog">
    <div class="modal-content">
        <form asp-action="BookingIncome" asp-controller="Account" method="post" role="form">
            <div class="modal-header">
                <h4 class="modal-title">Booking Income</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                <a asp-action="Index" asp-controller="Home" class="close" data-dismiss="modal" aria-hidden="true">x</a>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label asp-for="Id">Transaction Id</label>
                    <input asp-for="Id" class="form-control" placeholder="Enter Transaction Id" name="Id" required="required">

                </div>
                <div class="form-group">
                    <label asp-for="OrganizationName">Organization Name</label>
                    <input asp-for="OrganizationName" class="form-control" placeholder="Enter Organization Name" name="OrganizationName" required="required">

                </div>
                <div class="form-group">

                        <label asp-for="Email"> Email </label>
                        <input asp-for="Email" class="form-control" placeholder="Enter Organization's Email" name="Email" required="required">
                </div>

                <div class="form-group">

                    <label asp-for="Phone"> Phone </label>
                        <input asp-for="Phone" class="form-control" placeholder="Enter Organization's Phone Number" name="Phone" required="required">
                </div>
               
                <div class="form-group">

                    <label asp-for="Date">Payment Date</label>
                    <input asp-for="Date" class="form-control" placeholder="Enter Payment Date" name="Date" required="required">
                </div>

                <div class="form-group">

                    <label asp-for="BookingCost">Total Booking Cost</label>
                    <input asp-for="BookingCost" class="form-control" placeholder="Enter Total Booking Cost" name="BookingCost" required="required">
                </div>

                <div class="form-group">

                    <label asp-for="Advance">Advance Payment</label>
                    <input asp-for="Advance" class="form-control" placeholder="Enter Advance Pyament Ammount" name="Advance" required="required">
                </div>
                <div class="form-group">

                    <label asp-for="Due">Due Payment</label>
                    <input asp-for="Due" class="form-control" placeholder="Enter Due Payment Ammount" name="Due" required="required">
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Save Payment">
            </div>
        </form>
    </div>
</div>